<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>{{ title }}</span>
  <div class="spacer"></div>
</div>

<!-- //////////////////////////////// -->
<div class="content" role="main">
  <main>
    
    <h1>Changing Content</h1>
    <section
      *hideAfter="
        7000 as time;
        then placeholder;
        let counter = counter;
        let default
      "
      class="banner1 primary"
    >
      <h3>Content 1</h3>
      <p>Will disappear in {{ default }} seconds.</p>
      <p>It disappears in {{ counter }} seconds.</p>
    </section>
    <ng-template #placeholder let-hiddenAfter="hideAfter" let-myDefault>
      <section class="banner2 placeholder">
        <h3>Content 2</h3>
        <p>Content 1 was visible for {{ hiddenAfter }} seconds.</p>
        <p>myDefault: {{ myDefault }}</p>
      </section>
    </ng-template>

    <!-- //////////////////////////////// -->

    <section
      *hideAfter="
        4000 as time;
        then placeholder;
        let counter = counter;
        let default
      "
      class="banner1 primary"
    >
      <h3>Content 1</h3>
      <p>Will disappear in {{ default }} seconds.</p>
      <p>It disappears in {{ counter }} seconds.</p>
    </section>
    <ng-template #placeholder let-hiddenAfter="hideAfter" let-myDefault>
      <section class="banner2 placeholder">
        <h3>Content 2</h3>
        <p>Content 1 was visible for {{ hiddenAfter }} seconds.</p>
        <p>myDefault: {{ myDefault }}</p>
      </section>
    </ng-template>
  </main>
</div>
